@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Raleway:ital,wght@0,500;0,700;1,500&family=Roboto&family=Sigmar&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    background-color: #3b3bab;
    max-width: 1920px;
}

.dark-mode {
    background-color: rgb(20, 20, 20);
    color: white;
}

form {
    display: inline-block;
	position: fixed;
	top: 30%;
	left: 40%;
    background-color:  rgb(225, 103, 58);
    min-width: 350px;
    min-height: 420px;
    width: 20vw;
    height: 40vh;
    border: 30px solid rgb(225, 103, 58);;
    border-radius: 15px;
}

p {
    text-transform: uppercase;
    color: white;
    font-family: raleway;
    font-size: 300%;
    font-weight: 500;
    font-style: italic;
}

.logowanie p {
    display: block;
    margin: 10px;
}

.error p {
    text-transform: uppercase;
    color: white;
    font-family: raleway;
    font-size: 100%;
    font-weight: 400;
    font-style: italic;
}

input {
    display: block;
    line-height: 5vh;
    width: 100%;
    margin-bottom: 2vh;
    font-family: raleway;
    font-size: 300%;
    color: pink;
    
}

input::placeholder {
    color: rgb(0, 0, 0, 0.2);
    display: block;
    line-height: 5vh; 
    padding-left: 0.5vw;
    
}


/*przycisk zaloguj*/
button {
    display: block;
    color: rgb(225, 103, 58);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 350%;
    font-family: sigmar;
    background-color: white;
    padding: 0 10px;
    border: 1px solid black;
    width: 70%;
    text-align: center;  
    line-height: 200%;
  	margin: 5vh auto;
    transition: 0.7s;  
}

button:hover {
    background-color: rgb(225, 103, 58);
    color: white;
    border: none;
    box-shadow: 0 0 20px 1px black;
}


/*przycisk dark-mode*/
button.switch {
    position: fixed;
    bottom: 0%;
    right: 3%;
    display: inline-block;
    text-transform: uppercase;
    max-width: 150px;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    color: white;
    background-color: rgb(225, 103, 58);
    text-decoration: none;
    border: none;
    padding: 5px;
    padding-top: 10px;
	margin: 0;
    transition: 0.5s;
}

button:hover {
    background-color: white;
    color: rgb(225, 103, 58);
    box-shadow: 0 0 20px 2px orange;
}